body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}

/* displayes the logo image as background */
/* we are styling the div by the image width and height */
#logo-img {
  background: url('../images/restaurant-logo_large.png') no-repeat;
  width: 150px;
  height: 150px;
  margin: 10px 15px 10px 0;
}

.navbar-brand {
  padding-top: 25px;
}

/* Restaurant name */
.navbar-brand h1 { 
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
/* disable the underline */
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

/* Kosher cert */
.navbar-brand p { 
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}

/* Star-K */
/* we are doing this because we want to align the Kosher Certificate text in the center of the kosher star img */
.navbar-brand p span { 
  vertical-align: middle;
}

/* nav-list is the ul element id */
#nav-list {
  margin-top: 10px;
}

#nav-list a {
  color: #951C49;
  text-align: center;
}

#nav-list a:hover {
  background: #E7E7E7;
}

#nav-list a span {
  font-size: 1.8em;
}

#phone {
  margin-top: 5px;
}

/* Phone number */
#phone a { 
  text-align: right;
  padding-bottom: 0;
}

/* We Deliver */
#phone div { 
  color: #557c3e;
  text-align: right;
  padding-right: 15px;
}

/* change the style of the collapse button*/
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}

/* because the collapsed button is floated to right and the brand name and the Kosher certificate is floated to left */
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px; /* makes smaller the header region */
}
/* END HEADER */

/* FOOTER */
/* overriding a bootstrap css class */
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
}
/* targetting the div with the sections, the purpose of this is to separate the copyright from the sections */
.panel-footer div.row {
  margin-bottom: 35px;
}

/* separate the line hight of the rows inside the address and hours section*/
#hours, #address {
  line-height: 2;
}

/* increase the font-size of every span element that is a direct child of hours or address id element  */
#hours > span, #address > span {
  font-size: 1.3em;
}

/* targetting a note of the address id element */
#address p {
  color: #557c3e;
  font-size: .8em;
  line-height: 1.8;
}

/* we are targetting the peoples testimonials */
#testimonials {
  font-style: italic;
}
/* separatting the testimonials by giving some margin between them*/
#testimonials p:nth-child(2) {
  margin-top: 25px;
}
/* END FOOTER */



/* HOME PAGE */
.container .jumbotron {
  box-shadow: 0 0 50px #3F0C1F;
  border: 2px solid #3F0C1F;
}

#menu-tile, #specials-tile, #map-tile {
  height: 250px;
  width: 100%; /* as wide as his container is */
  margin-bottom: 15px;
  position: relative; /* will be an ancor for it's child elements */
  border: 2px solid #3F0C1F;
  overflow: hidden; /* the map will probably owerflow so we want that part hidden */
}

/* change the style when user hovers with the mouse pointer */
#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

/* fill out the background for each tile */
#menu-tile {
  background: url('../images/menu-tile.jpg') no-repeat;
  background-position: center; /* to stay always in the center of the container so when we squise the browser it will display it fine */
}
#specials-tile {
  background: url('../images/specials-tile.jpg') no-repeat;
  background-position: center;
}

/* fixing the position of the tiles name and give them some styling */
#menu-tile span, #specials-tile span, #map-tile span {
  position: absolute; /* positioning absolutly within the container in which stands */
  bottom: 0;
  right: 0;
  width: 100%; /* 100% of the width of the containing element */
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8; /* to be a little bit transparent */
}
/* END HOME PAGE */

/* MENU CATEGORIES PAGE */

/* has the name and the img inside of it */
/* we style the container width and height according to the size of the picture */
.category-tile { 
  position: relative; /* ancor */
  border: 2px solid #3F0C1F;
  overflow: hidden; /* everything that owerflows should be clipped */
  width: 200px;
  height: 200px;
  margin: 0 auto 15px; /* we center the container */
}

/* title of the actual category */
.category-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%; /* takes the entery width  */
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}

/* box shadow */
.category-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

/* targetting the next div sibling of menu-vategories-title id */
/* we want to separate the title of the page from the note for the customers and menu categories */
#menu-categories-title + div {
  margin-bottom: 50px;
}
/* END MENU CATEGORIES PAGE */

/* SINGLE CATEGORY PAGE */

/* separate from the next row */
.menu-item-tile {
  margin-bottom: 25px;
}

/* shows up when the width is 80% (small) */
.menu-item-tile hr {
  width: 80%;
}

/* styling the price */
.menu-item-tile .menu-item-price {
  font-size: 1.1em;
  text-align: right;
  margin-top: -15px; /* because we put the picture code in the bottom-right corner of the picture the price wa pushed down */
  margin-right: -15px;
}

/* unit portion beside the price we want to be smaller */
.menu-item-tile .menu-item-price span {
  font-size: .6em;
}

/* styling the picture */
.menu-item-photo {
  position: relative; /* ancor */
  border: 2px solid #3F0C1F; 
  overflow: hidden;
  padding: 0;
  margin-right: -15px;
  margin-left: auto;
  margin-bottom: 20px;
  max-width: 250px; /* the image is responsive and his width in the html is set to 250px so we don't want to be more than that */
}

/* the div is the coresponding code to the picture */
.menu-item-photo div {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  background-color: #557c3e;
  text-align: center;
}

/* move away from the other item which is in the second column or the browser edge itself  */
.menu-item-description {
  padding-right: 30px;
}

/* styling the title of the menu item */
h3.menu-item-title {
  margin: 0 0 10px;
}

/* styling the details */
.menu-item-details {
  font-size: .9em;
  font-style: italic;
}
/* END SINGLE CATEGORY PAGE */


/********** Large devices only **********/
@media (min-width: 1200px) {
  
  /* set the backround image for jumbotron*/
  .container .jumbotron {
    background: url('../images/jumbotron_1200.jpg') no-repeat;
    height: 675px;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  
  /* Header */
  /* changes the logo img to a smaller one and also we set the div of the image to a smaller one */
  
  #logo-img {
    background: url('../images/restaurant-logo_medium.png') no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }
  
  /* End Header */

  /* Home Page */
  /* set the backround image for jumbotron*/
  .container .jumbotron {
    background: url('../images/jumbotron_992.jpg') no-repeat;
    height: 558px;
  }
  /* End Home Page */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */
  /* set the backround image for jumbotron*/
  .container .jumbotron {
    background: url('../images/jumbotron_768.jpg') no-repeat;
    height: 432px;
  }
  /* End Home Page */
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  
  /* style for the div with name and Kosher certificate */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  
  /* Restaurant name */
  .navbar-brand h1 { 
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width , the font size will be relative to the screem width */
  }
  
  /* Kosher cert */
  .navbar-brand p { 
    font-size: .6em;
    margin-top: 12px;
  }
  
   /* Star-K */
  .navbar-brand p img {
    height: 20px;
  }

  /* style the collapsed button dropdown list */
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  
  /* Collapsed nav menu glyph */
  #collapsable-nav a span { 
    font-size: 1em; /* i.e. I want you to be 100% the size of <a> element that you inherited */
    margin-right: 5px; /* because the name and the icon are nto close */
  }

  /* give e different style for the phone number in small devices */
  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #f6b319;
    color: #951c49;
  }
  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  /* End Header */

  /* Footer */
  .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
  }
  .panel-footer section:nth-child(3) {
    margin-bottom: 0; /* margin already exists on the whole row */
  }
  .panel-footer section hr {
    width: 50%;
  }
  /* End Footer */

  /* Home Page */
  .container .jumbotron {
    margin-top: 30px;
    padding: 0;
  }
  
  /* We specifie the width of the name of the menu tile but since the container floated to left we had to specify the margin-left and margin-right to auto to center the container */
  /* We can use margin auto only if the element is sized */
  #menu-tile, #specials-tile {
    width: 360px;
    margin: 0 auto 15px;
  }

  /* centering the picture */
  .menu-item-photo {
    margin-right: auto;
  }
  
  /* center the price of the item */
  .menu-item-tile .menu-item-price {
    text-align: center;
  }
  
  /* center the description of the menu item */
  .menu-item-description {
    text-align: center;
  }
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  /* Restaurant name , we want to be a little bit bigger */
  .navbar-brand h1 { 
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */
  
  /* Home page */
  /* We have to resize the tile to fit in a smaller width of device */
  #menu-tile, #specials-tile {
    width: 280px;
    margin: 0 auto 15px;
  }

  /* copy from bootsrap the styles for col-xs-12 */
  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
}
